<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h1 style="text-align:center;">Albums</h1>
<ul style=" display: flex;justify-content: center;justify-content: space-around;">
    <li th:each="album : ${albums}">
        <h2  th:text="${album.title}"></h2>
        <p th:text="${album.artist}"></p>
        <p  th:text="${album.songCount}"></p>
        <p th:text="${album.length}" ></p>
        <img th:src="${album.imageUrl}"/>
    </li>
</ul>


<h1>Add a New Song</h1>
<form th:action="@{/songs}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="length">Length (in seconds):</label>
    <input type="number" id="length" name="length" required><br>

    <label for="trackNumber">Track Number:</label>
    <input type="number" id="trackNumber" name="trackNumber" required><br>

    <label for="album">Album:</label>
    <select id="album" name="album.id">
        <!-- Loop through list of albums and create an option for each one -->
        <option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.title}"></option>
    </select><br>

    <input type="submit" value="Add Song">
</form>

</body>