<!DOCTYPE html>
<html lang="en" >
<head>
      <meta charset="UTF-8">
      <title>Songr Splash Page</title>
      <style>
        body {
            background-color: #dcdcdc;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
           font-size: 5em;
            margin-top: 100px;
       }
      p {
            font-size: 2em;
            margin-top: 50px;
        }
    </style>
    </head>
<body>
<h1>Welcome to Songr!</h1>
<p>The music app .</p>
</body>
</html>